html,body{
	font-family:"Open Sans",sans-serif;
	margin:0;
    line-height: 1.5;
    color: #555;
}
h1,h2,strong {
    color: #333;
}
p,li {font-size:0.8em;}
.row{display:table;table-layout: fixed;}
.col{display:table-cell}
#menu {padding-top:1em;padding-bottom:1em}
#menu a {padding-right:1em;color:#555;text-decoration:none;}
@media not all and (min-width: 40em) {
	/*html {background-color:#fcc;}*/
	.inset {width:100%}
	.inset .row {display:block}
	.inset .col {display:block;width:100%}
	.col.sidespace {width:1em}
}
@media all and (min-width: 40em) {
	/*html {background-color:#cfc;}*/
	.inset .row {display:table-row}
	.inset .col {display:table-cell;width:30%}
	.col.sidespace {width:4em}
}
.frame {
	border:thin solid #ddd;
	padding:0.5em;
	box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.5);
	background-color:#f5f5f5;
}
